


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Superheroes</title>
</head>
<body>
  <h1><%= @team.name %></h1>
  <h2>Team Motto: <%= @team.motto %></h2>

  <% @members.each do |member| %>
    <h2>Hero Name: <%= member.name %></h2>
    <p>Hero Power: <%= member.power %></p>
    <p>Hero Biography: <%= member.bio %></p>
  <% end %>
</body>
</html>